.saludo{
    margin: 0px;
    padding: 30px;
}

.boton{
    padding: 30px;
}

.lista{
    margin: 10px;
    padding: 10px;
    background-color: blanchedalmond;
    font-weight: 500;
    font-size: large;
}

img{
    margin: 20px;
    padding: 10px;
    max-height: 400px;
    max-width: 400px;
}

